.topPlaceholder{
    // position: absolute;
    margin-left:92%;
}
.topContainerTitle{
    // font-size:15px;
    color:#707372;
    margin:20px 0 20px 0;
}
.topContainerDesc{
    margin-top:15px;
    margin-bottom:20px;
}
.homeContentContainer{
    margin-top:20px;
}
.supportBtn{
    background-color:"[theme: themePrimary]";// #d96932;
    width: 48%;
    float: left;
    text-align: center;
    height: 130px;
    padding: 3% 0;
    color: #fff;
    margin-right:4%;
}
.ms-Panel-header{
    background-color:#000;
}
.panelClass>div>div:nth-child(2)>div:nth-child(1){
    background-color: #707372;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    p{
        color:#fff;
    }
}
.supportBtn:hover{
    cursor: pointer;
    background-color: "[theme: accent]";//#ffc600;
    text-decoration: underline;
}
.supportBtnsContainer{
    clear:both;
    height:190px;
}
.trainingBtn{
    background-color: "[theme: themePrimary]";// #d96932;
    width: 48%;
    float: left;
    text-align: center;
    height: 130px;
    padding: 3% 0;
    color: #fff;

}
.trainingBtn:hover{
    cursor: pointer;
    background-color: "[theme: accent]";//#ffc600;
    text-decoration: underline;
}
.supportBtn img{
    width:100px;
}
.trainingBtn img{
    width:100px;
}


.speakToSomeone{
    background-color:#d7d2cb;
    height:210px;
    width:100%;
    clear:both;
    margin-bottom:20px;
        .speakToSomeoneTitle{
            color:#d96932;
            text-align: center;
            
            .speakToSomeoneImg{
                width:100px;
                vertical-align: middle;
                margin-right:0.5%;
            }
        }

        .speakToSomeoneDescription{
            color:#707372;
            padding: 0 5%;
            
            ul{
                margin:0px;    
                li{
                    margin-bottom:10px;
                }
            }
        }
}


.submitTicketFormContainer{
    margin-bottom:20px;
    height:330px;
    width:100%;
    .textFieldST{
        margin-bottom:15px;
    }
    .submitBtnST{
        margin-top:10px;
        text-align:right;
    }
}
.speakToSomeoneST{
    background-color:#d7d2cb;
    height:100px;
    width:100%;
    clear:both;
    padding:20px 0;
    
    .speakToSomeoneTitleST{
        color:"[theme: themePrimary]";//#d96932;
        text-align: center;
        width:20%;
        float:left;
        .speakToSomeoneImg{
            width:80px;
            vertical-align: middle;
            margin-right:0.5%;
        }
    }

    .speakToSomeoneDescriptionST{
        color:#707372;
        padding: 0 0;
        width:79%;
        float:left;
        
        ul{
            margin:0px;    
            li{
                margin-bottom:10px;
            }
        }
    }
}

.homeBottomContainer{
    margin-top:20px;
    .homeBottomContainerTitle{
        margin-bottom:10px;
        color:#707372;
        
    }
    .homeBottomContainerDescription{
        color:#707372;
    }
}

.trianingContainer{
    color:#3f3c3c;
    margin-top:20px;
    .trainingContainerTitle{
        margin:20px 0 10px 0;
    }
    .trianingContainerDescription{
        margin:0 0 20px;
    }
    .clearBoth{
        clear:both;
    }
    .trainingBoxContainer{
        margin:20px 0;
        width:100%;
        height:170px;
        .trainingBoxContainerLeftBox{
            float:left;
            width:49%;
            margin-right:2%;
            background-color:"[theme: themePrimary]";//#d96932;
            height:165px;
            text-align:center;
            .microsoftLogo{
                width:80%;
                padding-top:33px;
            }
            .brainstormLogo{
                width:40%;
                padding-top:20px;
            }
            .trainingLeftBoxTitle{
                color:#fff;
            }
            .trainingLeftBoxDesc{
                color:#fff;
            }
        }
        .trainingBoxContainerRightBox{
            width:49%;
            float:left;
            .rightBoxTitle{
                margin-bottom:15px;
            }
            .rightBoxDesc{
                color:#3f3c3c;
                ul{
                    padding-left:20px;
                }
            }
        }
    }
}
